@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: #ffffff;
  /* font-family: "Inter", system-ui, sans-serif; */
}

.heading{
  font-family: "Montserrat", sans-serif;
}

.content{
  font-family: "Poppins", sans-serif;
}

/* Accent */
.text-accent {
  color: #22d3ee;
}

/* Glass card */
.glass {
  background: rgba(15, 23, 42, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* Gradient divider */
.divider {
  width: 200px;
  height: 4px;
  background: linear-gradient(90deg, #22d3ee, transparent);
}

.skill-underline {
  position: relative;
  display: inline-block;
}

.skill-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px; /* distance from text */
  width: 100%; /* exactly word width */
  height: 4px;
  background: linear-gradient(90deg, #22d3ee, transparent);
  border-radius: 2px;
}

.project-underline {
  position: relative;
  display: inline-block;
}

.project-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px; /* distance from text */
  width: 100%; /* exactly word width */
  height: 4px;
  background: linear-gradient(90deg, #22d3ee, transparent);
  border-radius: 2px;
}

.journey-underline {
  position: relative;
  display: inline-block;
}

.journey-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px; /* distance from text */
  width: 100%; /* exactly word width */
  height: 4px;
  background: linear-gradient(90deg, #22d3ee, transparent);
  border-radius: 2px;
}

.contact-underline {
  position: relative;
  display: inline-block;
}

.contact-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -28px; /* distance from text */
  width: 100%; /* exactly word width */
  height: 4px;
  background: linear-gradient(90deg, #22d3ee, transparent);
  border-radius: 2px;
}

/* Loader bar */
.loader-bar {
  animation: loadingSlide 1.2s ease-in-out infinite;
}

@keyframes loadingSlide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
